/* Font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Shared Style Start */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

main{
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
}

.btn-primary {
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  background: rgba(70, 145, 101, 1);
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px 12px 16px;
  border: none;
}

.primary-title{
  color: rgba(0, 25, 49, 1);
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-align: center;
text-transform: capitalize;
}

.secondary-title{
  color: rgba(0, 25, 49, 1);
font-size: 24px;
font-weight: 600;
line-height: 35px;
text-align: center;
text-transform: capitalize;
}

.primary-text {
    color: rgba(98, 115, 130, 1);
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
}


.df{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Shared Style End */

/* Header Part Start */
.header-container {
  width: 100%;
  max-width: 1600px;
}

.nav-container {
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.nav-link li {
  list-style: none;
}
.nav-link li a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
}

/* Banner Part */

.hero-banner-container {
  width: 100%;
  max-width: 1600px;
  height: 674px;
  background: url('../assets/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.hero-banner-content {
    width: 85%;
  max-width: 1366px;
  margin: 0 auto;
}

.banner-content{
    width: 770px;
}

.hero-title {
font-size: 72px;
font-weight: 700;
line-height: 84px;
text-align: center;
opacity: 0.9;
text-transform: capitalize;
color: white;
padding: 16px 0;
}

.hero-title .green{
    color: rgba(48, 184, 104, 1);
}

.banner-text {
    color: rgba(255, 255, 255, 1);
font-size: 18px;
font-weight: 400;
line-height: 34px;
text-align: center;
}

.banner-content .btn{
    color: rgba(70, 145, 101, 1);
    border-radius: 1000px;
background: rgba(255, 255, 255, 1);
font-size: 16px;
font-weight: 500;
text-align: center;
padding: 8px 12px;
border: none;
display: flex;
justify-content: center;
}

.banner-content .btn img{
    padding-right: 6px;
}

.banner-content .btn2{
    background: none;
    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 4px;
margin-left: 16px;
margin-top: 32px;
}
/* Header Part End */


/* Notes Part Start */

.notes-card-container{
display: flex;
justify-content: space-between;
align-items: center;
gap: 24px;
padding-top: 44px;
}


.notes-container .primary-title{
  padding-top: 80px;
padding-bottom: 16px;
}

.notes-card{
width: 322px;
height: 300px;
border-radius: 8px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
background: rgba(255, 255, 255, 1);
gap: 16px;
padding: 24px;
}

.card-icon{
  background: rgba(249, 85, 85, 1);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


/* Notes Part End */

/* Brain Part Start */
.brain-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 120px 0;

}

.brain-img{
  width: 600px;
}

.brain-img img{
  width: 100%;
}

.brain-content{
  width: 700px;
  display: flex;
  flex-direction: column;
}

.brain-content .primary-title{
text-align: left;
padding: 16px 0;
}

.brain-content .text1{
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.brain-content .text2{
  padding-bottom: 24px;
  text-align: left;
}

.brain-style-text{
  display: flex;
  gap: 6px;
  padding-top: 16px;
}
/* Brain Part Start */

/* Think Part Start */
.think-container{
border-radius: 12px;
background: rgba(247, 246, 242, 1);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 80px 40px;
}

.think-title{
color: rgba(0, 25, 49, 1);
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-transform: capitalize;
}

.think-text1{
  padding-top: 16px;
  padding-bottom: 24px;
}

.think-text2{
  padding-top: 16px;
}
/* Think Part End */

/* Footer Part Start */
.footer-container{
background:  rgba(0, 25, 49, 1);
margin-top: 120px;
}

.footer-content{
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
color: white;
padding-top: 120px;
}

h6{
font-size: 20px;
font-weight: 500;
line-height: 28px;
text-align: left;
padding-bottom: 16px;
}

.footer-icon{
  width: 220px;

}
.footer-icon-img{
  display: flex;
  gap: 16px;
  
}


hr{
  margin-top: 80px;
  border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
opacity: 0.2;

}

.footer-container .primary-text{
  padding-top: 30px;
  padding-bottom: 30px;
  
}



.footer-end{
width: 85%;
  max-width: 1366px;
  margin: 0 auto;
}
/* Footer Part End */